
  <nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0px;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TITAN</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Messages <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <!-- MESSAGES GO HERE -->
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notifications <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <!-- NOTIFICATIONS GO HERE -->
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
<div class="row">
  <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
    <ul class="nav sidebar">
      <li class="active">
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Link</a>
      </li>
    </ul>
  </div>
  <div class="col-xs-9 col-sm-10 col-md-10 col-lg-11">
    <!-- USER CONTENT GOES HERE -->
  </div>
</div>
