#content {
  margin-top: 19px;
}
.modal {
  overflow-y: auto;
}
.row {
  margin-right: 0px;
}
.sidebar {
  list-style: none;
}
.sidebar>li {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-top: 0;
}
.sidebar>li.active {
  background-color: #ffffff;
}
.sidebar>li>a {
  background-color: #f9f9f9;
  color: #555555;
  height: 38px;
  line-height: 19px;
  text-align: center;
}
.sidebar>li.active>a, .sidebar>li>a:hover, .sidebar>li>a:focus {
  background-color: #ffffff;
  color: #333333;
}
